/* Style */

body {
  background: #1A1A1A;
  color: #CFBA6B;
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}

.icon {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
}

.rune-page {
  height: 48px;
  position: absolute;
}

.rune-icon {
  display: block;
}

.rune-icons {
  float: left;
  max-height: 48px;
  width: 48px;
  overflow: hidden;
}

.rune-icons:hover {
  max-height: 1000px;
}

.picker {
  max-width: 288px;
  overflow: scroll;
  position: absolute;
  z-index: 100;
}

#topbar {
  background: #2a2a2a;
  border-bottom: 1px solid #444;
  width: 100%;
  margin: 0;
  padding: 0.4em;
}

#topbar-menu {
  float: right;
}

#topbar-menu > a {
  text-decoration: none;
  color: #CFBA6B;
  padding: 0em 0.3em;
}
#topbar-menu > a:visited {
  text-decoration: none;
  color: #DFCA7B;
}

#application {
  padding: 0.4em;
}

.champion {
  display: inline-block;
}

.stat-graphs-container {
  position: relative;
}

.stat-graphs-legend {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(10, 10, 10, 0.1);
}

/* From d3-tip library */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
