/* Style */

body {
  background: #1A1A1A;
  color: #CFBA6B;
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}

.icon, .icon-container {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.rune-page {
  height: 48px;
  position: absolute;
  z-index: 50;
}

.rune-icons > .rune-icon {
  display: block;
}

.rune-icons {
  float: left;
  max-height: 48px;
  width: 48px;
  overflow: hidden;
}

.rune-icons:hover {
  max-height: 1000px;
}

.picker {
  width: 384px;
  max-height: 640px;
  overflow: scroll;
  position: absolute;
  z-index: 100;
  background-color: rgba(10, 10, 10, 0.8);
}

#topbar {
  background: #2a2a2a;
  border-bottom: 1px solid #444;
  width: 100%;
  margin: 0;
  padding: 0.4em;
}

#topbar-menu {
  float: right;
}

#topbar-menu > a {
  text-decoration: none;
  color: #CFBA6B;
  padding: 0em 0.3em;
}
#topbar-menu > a:visited {
  text-decoration: none;
  color: #DFCA7B;
}

#application {
  padding: 0.4em;
}

.champion {
  display: inline-block;
}

.stat-graphs-container {
  position: relative;
  width: 100%;
  height: 640px;
}

.stat-graphs-legend {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(10, 10, 10, 0.5);
}

.stat-graphs-legend-item {
  cursor: pointer;
  user-select: none;
}

.stat-graphs-legend-box {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(color);
}

.stat-graphs-legend-item-hidden {
  color: rgba(200, 200, 200, 0.5);
}

.stat-graphs-tooltip {
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 8px;
  z-index: 50;
}
